
* {
    margin: 0; 
    padding: 0; 
}
:root {
    --cor-de-fundo: #cfcfcf;
    --rosa-cabecalho:#FFA3C4;
    --cor-da-fonte: #ffffff;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color:var(--rosa-cabecalho);
    padding: 30px 0; 
}
   
.cabecalho-titulo {
text-align: center;
justify-content: center;
width: 130px;
height: 35px;
font-family: 'Indie Flower';
font-weight: 400;
font-size: 25px;
color: var(--cor-da-fonte);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho-titulo1.0 {
text-align: center;
justify-content: center;
font-family: 'Indie Flower';
font-size: 10px;
color: var(--cor-da-fonte);
}



