@import url("styles/headers.css");
@import url("styles/box.css");
@import url("styles/carrossel.css");

:root {
    --cor-de-fundo: #cfcfcf;
    --rosa-cabecalho:#ff94df;
    --cor-da-fontte: #ffffff;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabeçalho {

    background-color: var(--rosa-cabecalho);
 }
    
